@import 'https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css';

@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap';

#add-pokemon {
  display: block;
  margin: 0 auto;
	background-color: #4c74af;
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
	border-radius: 4px;
	transition: all 0.3s ease;
	width: fit-content;
}

#add-pokemon:hover {
	background-color: #3e4d8e;
}

	#pokemon-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.pokemon-body {
		display: flex;
		padding: 20px;
		font-family: "Roboto";
	}

	.pokemon-card {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 300px;
		width: 250px;
		background: linear-gradient(#f9bc61, #fde8c9);
		box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);
		border-radius: 8px;
		position: relative;
	}

	.pokemon-name {
		font-size: 12rem;
		font-weight: bold;
	}

	.pokemon-content {
		display: flex;
		flex-direction: column;
		height: 88%;
		width: 88%;
		background-color: white;
		border-radius: 8px;
	}

	.pokemon-content > .top {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		height: 20%;
		background-color: white;
	}

	.pokemon-content > .top p {
		font-weight: bold;
		font-size: 12px;
	}
	
	.pokemon-content > .top .color {
		height: 20px;
		width: 20px;
		margin-left: 5px;
		margin-right: 10px;
		border-radius: 50%;
		background-color: orange;
	}

	.pokemon-content > .middle {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 40%;
		padding-left: 15px;
		padding-right: 15px;
	}

	.pokemon-content > .middle img {
		width: 60%;
	}

	.pokemon-content > .middle div > p:first-child {
		margin-bottom: 5px;
		font-size: 12px;
	}

	.pokemon-content > .middle div > p:last-child {
		margin: 0;
		font-weight: bold;
	}

	.pokemon-content > .bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 40%;
		padding-left: 30px;
		padding-right: 30px;
	}

	.pokemon-content > .bottom div {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.pokemon-content > .bottom div > p:first-child {
		margin: 0;
		font-weight: bold;
	}

	.btn-parent {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.details-btn {
		display: inline-block;
		background-color: #4CAF50;
		border: none;
		color: white;
		padding: 10px 20px;
		text-align: center;
		text-decoration: none;
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer;
		border-radius: 4px;
		transition: all 0.3s ease;
		width: fit-content;
	}
	
	.details-btn:hover {
		background-color: #3e8e41;
	}

	

	.badge {
		display: inline-block;
		padding: 4px 8px;
		font-size: 12px;
		font-weight: bold;
		border-radius: 8px;
		margin-right: 4px;
	}
	
	.feu {
		background-color: #F08030;
	}
	
	.eau {
		background-color: #6890F0;
	}
	
	.plante {
		background-color: #78C850;
	}
	
	.vol {
		background-color: #99ccff;
	}
	
	.insecte {
		background-color: #66cc66;
	}
	
	.normal {
		background-color: #cccccc;
	}

	.électrik {
		background-color: #f1c40f;
	}
	
	.poison {
		background-color: #8e44ad;
	}
	
	.sol {
		background-color: #f39c12;
	}

	.fée {
		background-color: #ed91c7;
	}

	.combat {
		background-color: #d56723;
	}

	.psy {
		background-color: #f366b9;
	}

	.roche {
		background-color: #A38C21;
	}
	
	.acier {
		background-color: #9EB7B8;
	}
	
	.glace {
		background-color: #51C4E7;
	}

	.spectre {
		background-color: #705898;
	}

	.dragon {
		background-color: #7038f8;
	}

	.ténèbres {
		background-color: #705848;
	}

	
	.pokemon-card.feu {
		background: linear-gradient(#f08030, #f8d078);
	}
	.pokemon-card.feu-plante {
		background: linear-gradient(#f08030, #f8d078, #78c850, #a8b820);
	}
	.pokemon-card.feu-vol {
		background: linear-gradient(#f08030, #f8d078, #a890f0);
	}
	.pokemon-card.feu-vol {
		background: linear-gradient(#f08030, #f8d078, #a890f0);
	}
	.pokemon-card.feu-eau {
		background: linear-gradient(#f08030, #f8d078, #6890f0);
	}
	.pokemon-card.feu-combat {
		background: linear-gradient(#f08030, #f8d078, #c03028, #7038f8);
	}
	.pokemon-card.feu-sol {
		background: linear-gradient(#f08030, #f8d078, #e0c068, #927d44);
	}
	.pokemon-card.feu-roche {
		background: linear-gradient(#f08030, #f8d078, #b8a038, #705848);
	}
	.pokemon-card.feu-acier {
		background: linear-gradient(#f08030, #f8d078, #b8b8d0, #d1c1c0);
	}
	.pokemon-card.feu-spectre {
		background: linear-gradient(#f08030, #f8d078, #705898, #a8a8c0);
	}
	.pokemon-card.feu-dragon {
		background: linear-gradient(#f08030, #f8d078, #7038f8, #b8a038);
	}
	.pokemon-card.feu-ténèbres {
		background: linear-gradient(#f08030, #f8d078, #705848, #a8a8a8);
	}


.pokemon-card.plante-feu {
    background: linear-gradient(#78c850, #a8b820, #f08030, #f8d078);
}

.pokemon-card.vol-feu {
    background: linear-gradient(#a890f0, #f8d078, #f08030);
}

.pokemon-card.eau-feu {
    background: linear-gradient(#6890f0, #f8d078, #f08030);
}

.pokemon-card.combat-feu {
    background: linear-gradient(#c03028, #7038f8, #f08030, #f8d078);
}

.pokemon-card.sol-feu {
    background: linear-gradient(#e0c068, #927d44, #f08030, #f8d078);
}

.pokemon-card.roche-feu {
    background: linear-gradient(#b8a038, #705848, #f08030, #f8d078);
}

.pokemon-card.acier-feu {
    background: linear-gradient(#b8b8d0, #d1c1c0, #f08030, #f8d078);
}

.pokemon-card.spectre-feu {
    background: linear-gradient(#705898, #a8a8c0, #f08030, #f8d078);
}

.pokemon-card.dragon-feu {
    background: linear-gradient(#7038f8, #b8a038, #f08030, #f8d078);
}

.pokemon-card.ténèbres-feu {
    background: linear-gradient(#705848, #a8a8a8, #f08030, #f8d078);
}

	
	.pokemon-card.eau- {
		background: linear-gradient(#87CEFA, #ADD8E6);
	}

	.pokemon-card.normal- {
		background: linear-gradient(#b5b5b5, #e2e2e2);
	}

	.pokemon-card.plante- {
		background: linear-gradient(#5da958, #a3d186);
	}

	.pokemon-card.électrik- {
		background: linear-gradient(#f5c132, #ffe68b);
	}

	.pokemon-card.glace- {
		background: linear-gradient(#9acff2, #d4ebfc);
	}

	.pokemon-card.combat- {
		background: linear-gradient(#d54c1f, #ed9b4d);
	}

	.pokemon-card.poison- {
		background: linear-gradient(#b648bc, #f095ee);
	}

	.pokemon-card.sol- {
		background: linear-gradient(#be895d, #f2d8a8);
	}

	.pokemon-card.vol- {
		background: linear-gradient(#83a4e4, #b6c3ed);
	}

	.pokemon-card.psy- {
		background: linear-gradient(#f971d6, #faaad2);
	}

	.pokemon-card.insecte- {
		background: linear-gradient(#98d65e, #c2f0a9);
	}

	.pokemon-card.roche- {
		background: linear-gradient(#a79575, #d1c0a5);
	}

	.pokemon-card.spectre- {
		background: linear-gradient(#5d5d5d, #b5b5b5);
	}

	.pokemon-card.dragon- {
		background: linear-gradient(#ff881c, #ffc071);
	}

	.pokemon-card.acier- {
		background: linear-gradient(#838383, #b2b2b2);
	}

	.pokemon-card.ténèbres- {
		background: linear-gradient(#383838, #a0a0a0);
	}

	.pokemon-card.fée- {
		background: linear-gradient(#ed77aa, #fad4e4);
	}

	.pokemon-card.plante-poison {
		background: linear-gradient(#78c850, #a8b820, #a040a0, #c183c1);
		}
		
		.pokemon-card.vol-poison {
		background: linear-gradient(#a890f0, #c183c1, #a040a0);
		}
		
		.pokemon-card.eau-poison {
		background: linear-gradient(#6890f0, #c183c1, #a040a0);
		}
		
		.pokemon-card.combat-poison {
		background: linear-gradient(#c03028, #7038f8, #a040a0, #c183c1);
		}
		
		.pokemon-card.sol-poison {
		background: linear-gradient(#e0c068, #927d44, #a040a0, #c183c1);
		}
		
		.pokemon-card.roche-poison {
		background: linear-gradient(#b8a038, #705848, #a040a0, #c183c1);
		}
		
		.pokemon-card.acier-poison {
		background: linear-gradient(#b8b8d0, #d1c1c0, #a040a0, #c183c1);
		}
		
		.pokemon-card.spectre-poison {
		background: linear-gradient(#705898, #a8a8c0, #a040a0, #c183c1);
		}
		
		.pokemon-card.dragon-poison {
		background: linear-gradient(#7038f8, #b8a038, #a040a0, #c183c1);
		}
		
		.pokemon-card.ténèbres-poison {
		background: linear-gradient(#705848, #a8a8a8, #a040a0, #c183c1);
		}

		
	.pokemon-card.poison-plante {
		background: linear-gradient(#78c850, #a8b820, #a040a0, #c183c1);
		}
		
		.pokemon-card.poison-vol {
		background: linear-gradient(#a890f0, #c183c1, #a040a0);
		}
		
		.pokemon-card.poison-eau {
		background: linear-gradient(#6890f0, #c183c1, #a040a0);
		}
		
		.pokemon-card.poison-combat {
		background: linear-gradient(#c03028, #7038f8, #a040a0, #c183c1);
		}
		
		.pokemon-card.poison-sol {
		background: linear-gradient(#e0c068, #927d44, #a040a0, #c183c1);
		}
		
		.pokemon-card.poison-roche {
		background: linear-gradient(#b8a038, #705848, #a040a0, #c183c1);
		}
		
		.pokemon-card.poison-acier {
		background: linear-gradient(#b8b8d0, #d1c1c0, #a040a0, #c183c1);
		}
		
		.pokemon-card.poison-spectre {
		background: linear-gradient(#705898, #a8a8c0, #a040a0, #c183c1);
		}
		
		.pokemon-card.poison-dragon {
		background: linear-gradient(#7038f8, #b8a038, #a040a0, #c183c1);
		}
		
		.pokemon-card.poison-ténèbres {
		background: linear-gradient(#705848, #a8a8a8, #a040a0, #c183c1);
		}

	.banner {
		position: relative;
		width: 100%;
		height: 200px;
		background-color: #222;
		color: #fff;
		text-align: center;
	}
	
	canvas {
		display: block; 
		position: absolute;
	}

	h1 {
		text-align: center;
	}
	
	#pokemon-details {
		text-align: center;
	}

	.my-item {
		display: flex;
		margin: 0 30vw 10px 30vw;
	}
	
	.my-item label {
		width: 120px;
		margin-right: 10px;
	}
	
	.my-item input[type="text"],
	.my-item select,
	.my-item input[type="number"] {
		flex: 1;
		padding: 5px;
		font-size: 16px;
		border: 1px solid #ccc;
		border-radius: 5px;
	}
	
	.my-item select {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M6.7,9.6l4.6,4.6l4.6-4.6c0.8-0.8,2.1-0.8,2.8,0c0.8,0.8,0.8,2.1,0,2.8l-6.1,6.1c-0.4,0.4-0.9,0.6-1.4,0.6s-1-0.2-1.4-0.6l-6.1-6.1c-0.8-0.8-0.8-2.1,0-2.8C4.6,8.8,5.9,8.8,6.7,9.6z" fill="%23333"/></svg>') no-repeat;
		background-position: right 10px center;
		background-size: 20px 20px;
	}
	
	
	#sprite-img {
		display: block;
		margin: 0 auto;
	}
	
	#save-btn {
		background-color: #4CAF50;
		color: white;
		padding: 12px 20px;
		border: none;
		border-radius: 4px;
		cursor: pointer;
		margin-top: 20px;
	}
	
	#save-btn:hover {
		background-color: #3e8e41;
	}

	#pokemon-form {
		text-align: center;
	}

	#back-btn {
		float: left;
		margin-left: 10px;
		background-color: #4c72af;
		color: white;
		padding: 12px 20px;
		border: none;
		border-radius: 4px;
		cursor: pointer;
	}
	
	#back-btn:hover {
		background-color: #3e678e;
	}
	
	.delete-btn {
		display: none;
		transition: 0.2s;
	}
	.pokemon-card:hover > .delete-btn {
		position: absolute;
		top: 0px;
		right: 20px;
		width: 20px;
		height: 20px;
		border: none;
		background-color: transparent;
		font-size: 40px;
		color: #ff0000;
		cursor: pointer;
		display: flex;
		transition: 0.2s;
	}
	
	.pokemon-card:hover > .delete-btn:hover {
		color: #cc0000;
	}
	